/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/09/2015, 09:58:38
    Author     : alumno_academia
*/


/*PARA COMPILARLO EN ubuntu

lessc -x bootstrap.less /var/www/tp_final/public_html/css/bootstrap_tpfinal.css
*/
@santaFe_color_marca: #e30613;
@santaFe_color_base: #D8DBDD;
@santaFe_font_family: Aller;
 

html
{
    font-family: @santaFe_font_family;
}


.loguin
{
    margin-top: 25%;
    background-color: @santaFe_color_marca;
    padding: 3em;
}

#alerta
{
    -webkit-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.99);
    -moz-box-shadow:    0px 0px 21px 0px rgba(50, 50, 50, 0.99);
    box-shadow:         0px 0px 21px 0px rgba(50, 50, 50, 0.99);
    display: none;
}

@media (min-width: 769px)
{
    body
    {
        background-color: @santaFe_color_base;

        & .barra_nav
        {
            background-color: @santaFe_color_marca;
            height: 55px;
            font-size: 15px;
            
            & #cerrar_sesion
            {
                margin-right: 5px;
            }
            
            .avatar
            {
                .pull-right;
                height: 45px;
                width: auto;
                margin-right: 5px;
                margin-top: 5px;
            }
            
            & .navbar-brand
            {
                padding: 5px;
            }
            
        }
        
        & .white-popup-block
        {
            
            background-color: @santaFe_color_base;
            opacity: .98;
            padding: 30px 40px;
            text-align: left;
            max-width: 650px;
            margin: 40px auto;
            position: relative;
        }

        & .loguin
        {
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            -webkit-box-shadow: 0px 0px 21px 0px rgba(50, 50, 50, 0.99);
            -moz-box-shadow:    0px 0px 21px 0px rgba(50, 50, 50, 0.99);
            box-shadow:         0px 0px 21px 0px rgba(50, 50, 50, 0.99);
        }

       
    }
}

@media (max-width: 768px) 
{
    body
    {
        background-color: @santaFe_color_marca;
        height: 40px;
        
        & .barra_nav
        {
            background-color: @santaFe_color_marca;
            border-color: @santaFe_color_marca;
            font-size: 13px;
            & #cerrar_sesion
            {
                margin-right: 0px;
               
            }
            & #welcome_usuario
            {
                margin-right: 5px;
            }
            
            .avatar
            {
                .pull-right;
                height: 45px;
                width: auto;
                margin-right: 5px;
                margin-top: 5px;
                border: #000;
                border-width: 1px;
            }
            
            & .navbar-brand
            {
                height: 40px;
                width: auto;
                padding: 5px;
            }
        }  
        
        & .white-popup-block
        {
            
            background-color: @santaFe_color_base;
            opacity: .98;
            padding: 30px 40px;
            text-align: left;
            max-width: 650px;
            margin: 40px auto;
            position: relative;
        }
        
    }
    
    
}


@media (max-width: 500px) 
{
    
    body{
       
        & .barra_nav
        {
            & #cerrar_sesion
            {
                .pull-left;
                margin-left: 5px;

            }

            & #welcome_usuario
            {
                display: none;
            }
            .avatar
            {
                 display: none;
            }
            
            & .navbar-brand
            {
                height: 15px;
                width: auto;
                padding: 5px;
            }
        }
        
        & .white-popup-block
        {
            
            background-color: @santaFe_color_base;
            opacity: .98;
            padding: 30px 40px;
            text-align: left;
            max-width: 650px;
            margin: 40px auto;
            position: relative;
        }
    }
}